<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="AppointmentCenter">
    <listeners>
        <listener class-name="com.biit.appointment.persistence.TestListener"></listener>
    </listeners>

    <test name="AppointmentCenter" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="appointmentRepository"/>
                <include name="examinationTypeRepository"/>
                <include name="availability"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.appointment.persistence.entities.AvailabilityRange"/>
            <class name="com.biit.appointment.persistence.repositories.AppointmentRepositoryTests"/>
            <class name="com.biit.appointment.persistence.repositories.ExaminationTypeRepositoryTests"/>
            <class name="com.biit.appointment.persistence.repositories.AvailabilityRepositoryTests"/>
        </classes>
    </test>
</suite>