<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="AppointmentCenter">
    <listeners>
        <listener class-name="com.biit.appointment.rest.TestListener"/>
    </listeners>

    <test name="AppointmentCenter" enabled="true" preserve-order="true">
        <groups>
            <run>
                <include name="appointmentTemplatesServiceTests"/>
                <include name="appointmentServiceTests"/>
                <include name="scheduleServiceTests"/>
                <include name="appointmentAttendanceByQrTests"/>
                <include name="availabilityServiceTests"/>
            </run>
        </groups>
        <classes>
            <class name="com.biit.appointment.rest.api.AppointmentTemplatesServiceTests"/>
            <class name="com.biit.appointment.rest.api.AppointmentServiceTests"/>
            <class name="com.biit.appointment.rest.api.AppointmentAttendanceByQrTests"/>
            <class name="com.biit.appointment.rest.api.ScheduleServiceTests"/>
            <class name="com.biit.appointment.rest.api.UserAvailabilityServiceTests"/>
        </classes>
    </test>
</suite>